@model ProvaWilliam.Models.Medicos

@{
    ViewBag.Title = "Deletar médicos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deletar</h2>

<h3>Realmente quer deletar?</h3>
<div>
    <h4>Médicos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Especialidade.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialidade.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crm)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class = "btn btn-danger btn-sm" /> |
            @Html.ActionLink("Retornar", "Index","", new { @class = "btn btn-primary btn-sm" })
        </div>
    }
</div>
