
@model ProvaWilliam.Models.SearchResultViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Medicos</h2>


@using (Html.BeginForm("SearchMedicos", "Medico", FormMethod.Get))
{
    <p>
        Nome: @Html.TextBox("nome", "", new {@class = "form-control" })
        CRM: @Html.TextBox("crm", "", new { @class = "form-control" })
        Especialidade: @Html.DropDownList("id_especialidade",
       new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"), "Selecione uma Especialidade", new { @class = "form-control", id = "especialidadeDropdown" })


        <input type="submit" value="Pesquisar" />
    </p>

}


<p>
    @Html.ActionLink("Registrar novo medico", "Create")
</p>
<table class="table table-striped table-dark">
    <tr>
        <th>
           Dascrição
        </th>
        <th>
            Nome do médico
        </th>
        <th>
            CRM
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Medicos)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidade.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.crm)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-primary btn-sm" }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-primary btn-sm" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }

</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $.getJSON('/Especialidade/SerchEspecialidades', function(data) {
        var dropdown = $('#especialidadeDropdown');
        dropdown.empty();      
        $.each(data, function(i, especialidade) {
            dropdown.append($('<option />').val(especialidade.id).text(especialidade.descricao));
        });
    });
});
</script>